<h1>🛒 Tu carrito</h1>

{{#if cart.products.length}}
    <ul>
    {{#each cart.products}}
        <li>
        <strong>{{this.product.title}}</strong><br>
        Cantidad: {{this.quantity}}<br>
        Precio unitario: ${{this.product.price}}<br>
        Subtotal: ${{multiply this.quantity this.product.price}}
        </li>
        <hr>
    {{/each}}
    </ul>
{{else}}
    <p>El carrito está vacío.</p>
{{/if}}

<a href="/products">⬅ Volver a productos</a>
